nav{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo{
    margin-top: 1.5rem;
    margin-left: 2.4rem;
}
.logo img{
    height: 4rem;
    width: 10rem;
}
.pages{
    display: flex;
    gap: 30px;
    font-size: 1.4rem;
    padding-left: 5.5rem;
}
.pages div:hover{
    color: #909AF9;
}