body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainpage{
    color: black;
    height: 100vh;
}
.nav{
    position:fixed;
    top: 0; /* Aligning to the top */
    left: 0; /* Aligning to the left */
    right: 0; /* Stretching to the right */
    z-index: 10; /* Ensuring it is above the video */
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: rgb(167, 255, 201);
    margin-top: 0;
    
}
.active{
     background-color: #333333; 
}
     .nav img{
    padding-top: 4px;
    padding-left: 10px;
    height: 42px;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 7%;
    padding-top: 5px;
}
.search{
    display: flex;
    padding-left: 15px;
    border-radius: 20px;
    border: 2px solid black;
    height: 23px;
    margin-top: 10px;
    margin-left: 15%;
    align-items: center;
    width: 120px;
    height: 35px;
}
.text{
    background: none;
    border: 0;
    padding-left: 2px;
    width: 70px;
}
ul button{
    background-color: #82AE22;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 105px;
    border: 0px;
    border-radius: 5px;
}
.left-corner{
    align-items: center;
    margin-left: 250px ;
}
.vedio-text{
    margin-top: 10%;
    margin-left: 8%;
}
.textcenter{
    width: 810px;
    color: rgb(167, 255, 201);
}
.vedio-text h1{
    font-size: 82px;
}
.vedio-text p{
    font-size: 18px;
}
.vedio-text button{
    font-size: 25px;
    background-color: #83BF11;
    height: 80px;
    border: 0;
    border-radius: 55px;
}
.vedio{
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0.95;
}
.detail-option{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 100%;
}
.detail1{
    text-align: center;
}
.detail1 h1{
    font-size: 55px;
}
.detail1 p{
    font-size: 22px;
}
.detail2{
    display: grid;
    grid-template-columns: 50% 50%;  
}
.detail2 h1{
    font-size: 50px;
}
.detail2 p{
    width: 600px;
    font-size: 20px;
    opacity: 0.67;
}
.detail2 b{
    font-weight: 200;
    font-size: 22px;
    text-decoration: underline;
}
.detail2-1{
    opacity: 0.85;
    margin-top: 22%;
}
.detail2 img{
    margin-left: 8%;
}
.detail3{
    display: grid;
    grid-template-columns: 50% 50%;  
}
.detail3 h1{
    font-size: 50px;
}
.detail3 p{
    width: 600px;
    font-size: 20px;
    opacity: 0.67;
}
.detail3 b{
    font-weight: 200;
    font-size: 22px;
    text-decoration: underline;
}
.detail3-1{
    opacity: 0.85;
    margin-top: 22%;
    margin-left: 8%;
}
.detail4{
    display: grid;
    grid-template-columns: 50% 50%;  
}
.detail4 h1{
    font-size: 50px;
}
.detail4 p{
    width: 600px;
    font-size: 20px;
    opacity: 0.67;
}
.detail4 b{
    font-weight: 200;
    font-size: 22px;
    text-decoration: underline;
}
.detail4-1{
    opacity: 0.85;
    margin-top: 20%;
}
.detail4 img{
    margin-left: 8%;
    margin-top: 15%;
}
.AI{
    display: flex;
    flex-direction: column;
    margin-top: 185px;
    text-align: center;
    align-items: center;

}
.AI1 h1{
    font-size: 45px;
}
.AI2 {
    width: 1000px;
    opacity: 0.8;
}
.AI3 b{
    padding-top: 15px;
    font-weight: 200;
    font-size: 22px;
    text-decoration: underline;
}
.AI4{
    margin-top: 20px;
}
.podcast-website{
    display: flex;
    flex-direction: column;
    margin-top: 135px;
    background-color: #1D1B25;
    align-items: center;
    text-align: center;
    color: white;
}
.podcast-website h1{
    font-size: 50px;
    margin-top: 85px;
    width: 850px;
}
.podcast-website p{
    width: 1100px;
    font-weight: 300;
}
.podcast-website img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: inherit;
    height: 1100px;
}
.podcast-analytic{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.podcast-analytic h1{
    font-size: 45px;
}
.podcast-analytic p{
    width: 1010px;
    font-size: 15px;
    opacity: 0.85;
}
.podcast-analytic b{
    font-weight: 200;
    font-size: 22px;
    text-decoration: underline; 
}
.podcast-analytic img{
    margin-top: 45px;
}
.pod-app{
    margin-top: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pod-app h1{
    font-size: 45px;
}
.pod-app p{
    font-weight: 400;
}
.podappgrid{
    display: grid;
    grid-template-columns: 600px auto auto;
    margin-top: 50px;
    font-size: 22px;
}
.podappgrid p{
    width: 400px;
    font-stretch: wider;
    margin-left: 10%;
    opacity: 0.8;
}
.podappgrid .tittle{
    font-weight: 800;
    margin-left: 10%;
    opacity: 1;
}
.podappgrid1{
    margin-top: 10%;
}
.podcast-dowload{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.podcast-dowload h1{
    font-size: 45px;
    margin-top: 65px;
    margin-left: 4%;
}
.podcast-dowload .imgs{
    margin-left: 4%;
}
.podcast-dowload .discription{
    width: 400px;
    margin-left: 4%;
}
.appfun{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.appfun img{
    width: 450px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 15px;
}
.appfun .txt{
    width: 600px;
}
.appfun .txt h1{
    font-size: 45px;
}
.appfun .txt p{
    font-size: 20px;
    opacity: 0.8;
}
.appfun .txt b{
    font-weight: 200;
    font-size: 22px;
    text-decoration: underline; 
}
